<div *ngIf="!isCustomerLoggedIn && !isAdminLoggedIn">

  <mat-toolbar class="navbar">
    <span class="navbar-brand">Recanto da Mesa-Posta</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/dashboard" routerLinkActive="active">Início</button>
    <button mat-button routerLink="/signup" routerLinkActive="active">Cadastre-se</button>
    <button mat-button routerLink="/login" routerLinkActive="active">Entrar</button>
  </mat-toolbar>
</div>

<div *ngIf="!isAdminLoggedIn">
  <mat-toolbar class="navbar">
    <span class="navbar-brand">Recanto da Mesa-Posta</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/admin/dashboard" routerLinkActive="active">Início</button>
    <button mat-button routerLink="/admin/analytics" routerLinkActive="active">Análise</button>
    <button mat-button routerLink="/admin/category" routerLinkActive="active">Categoria</button>
    <button mat-button routerLink="/admin/product" routerLinkActive="active">Produtos</button>
    <button mat-button routerLink="/admin/orders" routerLinkActive="active">Pedidos</button>
    <button mat-button routerLinkActive="active" (click)="logout()">Sair</button>
  </mat-toolbar>
</div>

<div *ngIf="!isCustomerLoggedIn">
  <mat-toolbar class="navbar">
    <span class="navbar-brand">Recanto da Mesa-Posta</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/customer/dashboard" routerLinkActive="active">Início</button>
    <button mat-button routerLink="/customer/cart" routerLinkActive="active">Carrinho</button>
    <button mat-button routerLink="/customer/my_orders" routerLinkActive="active">Pedidos</button>
    <button mat-button routerLink="/customer/profile" routerLinkActive="active">Perfil</button>
    <button mat-button routerLinkActive="active" (click)="logout()">Sair</button>
  </mat-toolbar>
</div>


<router-outlet></router-outlet>