<div class="center-container">
  <div class="product-card" *ngFor="let product od products">
    <div class="product-image">
      <img [src]="product.processedImg" *ngIf="product.processedImg" alt="{{ product.name }} Image">
    </div><!--product-image-->
    <div class="product-details">
      <h2>{{ product.productName }}</h2>
      <p class="description">{{ product.productDescription }}</p>
      <p class="price">Valor: R$ {{ product.prie }}</p>
    </div><!--product-details-->

  </div><!--product-card-->
</div><!--center-container-->